$background: #FFF;
$main: #FF5500;
$positive: #00BF40;
$cautionary: #FF9200; 
$negative: #FF4242;


$ssat: env(safe-area-inset-top);
$ssar: env(safe-area-inset-right);
$ssab: env(safe-area-inset-bottom);
$ssal: env(safe-area-inset-left);